{% extends 'portfolio/base_pr.html' %}
{% load static %}

{% block content %}
    <style>
        .row > div > ul {
            width: 100%;
        }

        .row:nth-child(3) > div:nth-child(1) {
            width: 100%;
        }

        a.btn:nth-child(3) {
            float: right;
            margin: auto 200px;
        }

        .box {
            display: flex;
            justify-content: space-around;
            margin: 150px auto;
        }

        .btn {
            width: 25%;
        }

        .green {
            color: var(--color-primary);
        }

        .fst-italic {
            line-height: 2.5;
            font-size: 1.1em;
        }

        .img-details-produit {
            width: 40%;
            height: 100%;
            margin: auto;
        }

        .details-box-text-produits {
            width: 45%;
            height: 100%;
            margin: auto;
        }

        .details-text-produit {
            font-size: 1.3em;
            line-height: 2;
        }

        .container {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            max-width: none;
        }

        .about .content ul li {
          font-size: 1.2em;
        }

    </style>

    <main id="main" data-aos="fade" data-aos-delay="1500">
        <!-- ======= End Page Header ======= -->
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">

                    <div class="text-center">
                        <h2 style="background: #15CF1B; background: linear-gradient(to right, #15CF1B 0%, #3b29d9 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                            {{ details_project.title }}
                        </h2>
                        <a class="cta-btn" href="{{ details_project.project_url }}" target="blank">Lien ici !</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="row gy-4 justify-content-center align-items-center m-auto">
                    <div class="img-details-produit">
                        <img src="{{ details_project.project_thumbnail.url }}" class="testimonial-img" alt="">
                    </div>
                    <div class="details-box-text-produits content">
                        <h3 class="green">{{ details_project.project_goal }}</h3>
                        <p class="fst-italic py-3 details-text-produit">
                            {{ details_project.description }}
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li>
                                        <i class="bi bi-chevron-right"></i>
                                        <strong class="text-primary">Debut du projet le:</strong>
                                        <span>{{ details_project.date_created_on|date:"d/m/Y" }}</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-chevron-right"></i>
                                        <strong class="text-primary">Lien git:</strong>
                                        <span>{{ details_project.git_url }}</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-chevron-right"></i>
                                        <strong class="text-primary">Categorie:</strong>
                                        <span>{{ details_project.category }}</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-chevron-right"></i>
                                        <strong class="text-primary">Status du projet:</strong>
                                        <span>{{ details_project.project_status }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br/>
                        <h2>Languages utilisés: </h2>
                        <div class="box-languages">
                            <div class="box-env" data-aos="fade-up" data-aos-delay="200"
                                 style="  display: flex; justify-content: space-around; width: 100%; flex-direction: row; margin: auto;">
                                <div class="icon-box"
                                     style="display: flex; margin: auto; width: 100%; justify-content: space-around;">
                                    {% for tag in details_project.tags.all %}
                                        <img src="{{ tag.image_tag.url }}" alt="PyCharm" style="width: 20% !important; max-width: 100%; margin: auto;">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    {% comment %}
                        <br/>
                        <h2>Languages utilisés: </h2>
                        <div class="box-languages">
                            <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box">
                                    <img src="{% static 'images/languages/html-5.svg' %}" alt="PyCharm">
                                </div>
                            </div>
                            <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box">
                                    <img src="{% static 'images/languages/css3.svg' %}" alt="PyCharm">
                                </div>
                            </div>
                            <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box">
                                    <img src="{% static 'images/languages/php.svg' %}" alt="PyCharm">
                                </div>
                            </div>
                            <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box">
                                    <img src="{% static 'images/languages/javascript.svg' %}" alt="PyCharm">
                                </div>
                            </div>
                        </div>
                        {% endcomment %}

                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->
        <!-- btn retour -->
        <div class="box">
            <a href="{% url 'project_list' details_project.category.slug %}" class="btn btn-warning boutons"
               style="width: 45%; margin: auto;">Retour liste <span>{{ details_project.category }}</span></a>
            <a href="{% url 'project_category_list' %}" class="btn btn-danger boutons"
               style="width: 45%; margin: auto;">liste des categories</a>
        </div>
    </main>
    <!-- End #main --
{% endblock %} }}>