{% extends 'portfolio/base_pr.html' %}
{% load static %}

{% block content %}
<style>

.card-img-top {
  width: 33% !important;
  padding: 20px !important;
  border-radius: 50px !important;
  border: solid 1px grey !important;
  margin: 20px !important;
}

</style>
    <div class="title">
        <h1>Liste des categories</h1>
    </div>

    <div class="box">

        {% for cat in categorie_list %}
            <div class="card-cat text-dark" style="padding: 40px;">
                <img class="card-img-top animate" src="{{ cat.image_cat.url }}" alt="img"/>
                <div class="card-body">

                    <h3 class="card-title text-center">{{ cat.category_name }}</h3>
                    <p class="card-text">{{ cat.projet_cat_description }}</p>
                    <a href="{% url 'project_list' cat.slug %}" class="btn btn-primary"
                       style="width:25%; margin: 0 auto; color: #fff;">
                        <i class="fa fa-arrow-right fa-fw"></i>
                    </a>
                </div>
            </div>
        {% endfor %}

        {% comment %}
            <div class="card">
                <img class="animate" src="{{ cat.image_cat.url }}" alt="img"
                     style="height: 100%; margin: 0; padding: 0;"/>
                <div class="card__content">
                    <h2 class="card__title animate text-dark">
                        <a href="javascript:" class="text-dark">{{ cat.category_name }}</a></h2>
                    <p class="text-dark">{{ cat.projet_cat_description }}</p>
                </div>
                <button class="card__btn">
                    <a href="{% url 'project_list' cat.slug %}">
                        <!-- TODO : Lien vers la page liste site vitrine -->
                        <i class="fa fa-arrow-right fa-fw"></i></a>
                </button>
            </div>

        {% endfor %}
        {% endcomment %}
    </div>
{% endblock %}