{% extends 'portfolio/base_pr.html' %}
{% load static %}

{% block content %}
    <style>

        .card-img-top {
            width: 33% !important;
            padding: 20px !important;
            border-radius: 50px !important;
            border: solid 1px grey !important;
            margin: 20px !important;
        }

        @media screen and  (min-width: 780px) and (max-width: 1685px) {

            /* portfolio.css | http://127.0.0.1:8000/static/build/css/portfolio.css */
            .card-text {
                /* font-size: 1.2em; */
                font-size: 1em;
            }

            .card-cat {
                /* width: 66% !important; */
                width: 95% !important;
            }

            .card-body {
                /* height: 75%; */
                height: 100%;
            }

            /* Feuille de style intégrée #10 | http://127.0.0.1:8000/portfolio/liste/categorie/ */
            .card-img-top {
                /* padding: 20px !important; */
                /* margin: 20px !important; */
                padding: 10px !important;
                margin: 10px !important;
            }

        }

        @media screen and (max-width: 550px) {
            .card-title {
                margin: 15px auto !important;
            }

            .card-cat {
                /* width: 66% !important; */
                /* padding: 40px !important; */
                width: 90% !important;
                padding: 0 !important;
                flex-direction: column;
            }

            .card-body {
                /* padding: 0 40px; */
                padding: 0 15px;
            }

            .card-text {
                /* font-size: 1.2em; */
                font-size: 1em;
            }

            .card-img-top {
                /* width: 33% !important; */
                width: 80% !important;
            }

            .btn-card-cat {
                /* width: 25%; */
                /* margin: 0 auto; */
                width: 33% !important;
                margin: 20px auto !important;
            }

            .titre-cat {
                font-size: 1.7em;
                margin-top: 50px;
            }
        }
    </style>
    <div class="title">
        <h1 class="titre-cat">Categories Projets</h1>
    </div>

    <div class="box">

        {% for cat in categorie_list %}
            <div class="card-cat text-dark" style="padding: 40px;">
                <img class="card-img-top animate" src="{{ cat.image_cat.url }}" alt="img"/>
                <div class="card-body">

                    <h3 class="card-title text-center">{{ cat.category_name }}</h3>
                    <p class="card-text">{{ cat.projet_cat_description }}</p>
                    <a href="{% url 'project_list' cat.slug %}" class="btn btn-primary btn-card-cat"
                       style="width:25%; margin: 0 auto; color: #fff;">
                        <i class="fa fa-arrow-right fa-fw"></i>
                    </a>
                </div>
            </div>
        {% endfor %}

        {% comment %}
            <div class="card">
                <img class="animate" src="{{ cat.image_cat.url }}" alt="img"
                     style="height: 100%; margin: 0; padding: 0;"/>
                <div class="card__content">
                    <h2 class="card__title animate text-dark">
                        <a href="javascript:" class="text-dark">{{ cat.category_name }}</a></h2>
                    <p class="text-dark">{{ cat.projet_cat_description }}</p>
                </div>
                <button class="card__btn">
                    <a href="{% url 'project_list' cat.slug %}">
                        <!-- TODO : Lien vers la page liste site vitrine -->
                        <i class="fa fa-arrow-right fa-fw"></i></a>
                </button>
            </div>

        {% endfor %}
        {% endcomment %}
    </div>
{% endblock %}