{% extends 'portfolio/base_pr.html' %}
{% load static %}

{% block content %}

    <style>

        .card-cat {
            display: flex;
            width: 66% !important;
            color: black;
            background: #fff;
            align-items: center;
            margin: 50px auto;
        }

        .card-img-top {
            width: 100% !important;
            height: 100% !important;
            max-height: 400px;
        }

        .card-body {
            display: flex;
            height: 75%;
            flex-direction: column;
            justify-content: space-between;
            padding: 0px 40px;
            width: 100%;
        }

        .card-text {
            font-size: 1.2em;
            font-style: oblique;
            line-height: 1.8;
        }
    </style>
    <div class="title">
        <h1>Liste des categories</h1>
    </div>

    <div class="box">

        {% for cat in categorie_list %}
            <div class="card-cat text-dark">
                <img class="animate card-img-top" src="{{ cat.image_cat.url }}" alt="img"/>
                <div class="card-body">
                    <h3 class="card-title text-center">{{ cat.category_name }}</h3>
                    <p class="card-text">{{ cat.projet_cat_description }}</p>
                    <a href="{% url 'project_list' cat.slug %}" class="btn btn-primary"
                       style="width:25%; margin: 0 auto;">
                        <i class="fa fa-arrow-right fa-fw"></i>
                    </a>
                </div>
            </div>
        {% endfor %}

        {% comment %}
            <div class="card">
                <img class="animate" src="{{ cat.image_cat.url }}" alt="img"
                     style="height: 100%; margin: 0; padding: 0;"/>
                <div class="card__content">
                    <h2 class="card__title animate text-dark">
                        <a href="javascript:" class="text-dark">{{ cat.category_name }}</a></h2>
                    <p class="text-dark">{{ cat.projet_cat_description }}</p>
                </div>
                <button class="card__btn">
                    <a href="{% url 'project_list' cat.slug %}">
                        <!-- TODO : Lien vers la page liste site vitrine -->
                        <i class="fa fa-arrow-right fa-fw"></i></a>
                </button>
            </div>

        {% endfor %}
        {% endcomment %}
    </div>
{% endblock %}