{% extends 'portfolio/base_pr.html' %}
{% load static %}

{% block content %}
<style>

#hero {
    background: radial-gradient(circle, #664e4e 0%, black 100%) !important;
}

#hero p span {
    border-bottom: 2px solid rgba(140, 137, 137, 0.91);
}

.entete-index {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
}

.entete-index .title-index {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

#hero p span {
  margin: 0 0 75px 0;
}

#hero p {
  margin-top: 75px;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

</style>

    <main id="main" data-aos="fade" data-aos-delay="1500" class="bg-dark">

        <!-- ======= Hero Section ======= -->
        <section id="hero">
            <p class="entete-index">
                Welcome to my
                <span class="title-index">AnthoWebDesign</span>
                &mdash; Portfolio &mdash;
            </p>
        </section>

        <!-- ======= Skills ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>Skills</h2>
                    <p>Tour d'horizon des languages pratiquées:</p>
                </div>
                <div class="box-skills">
                    <figure class="snip1543">
                        <img src="{% static 'images/skills/design.png' %}" alt="sample108"/>
                        <figcaption>
                            <h3>
                                Html
                                <br/>
                                Css
                                <br/>
                                Scss
                                <br/>
                                Sass
                            </h3>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                    <figure class="snip1543">
                        <img src="{% static 'images/skills/java.jpg' %}" alt="sample100"/>
                        <figcaption>
                            <h3>
                                JAVA-PO
                                <br/>
                                JAVA-SE
                                <br/>
                                JAVA-EE</h3>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                    <figure class="snip1543">
                        <img src="{% static 'images/skills/sql.png' %}" alt="sample101"/>
                        <figcaption>
                            <h3>POSTGRE
                                <br/>
                                MYSQL
                                <br/>
                                SQL-SERVER
                                <br/>
                                ORACLE</h3>
                        </figcaption>
                        <a href="#"></a>
                    </figure>

                    <figure class="snip1543">
                        <img src="{% static 'images/skills/php.png' %}" alt="sample100"/>
                        <figcaption>
                            <h3>Php
                                <br/>
                                Symfony
                            </h3>
                        </figcaption>
                        <a href="#"></a>
                    </figure>

                    <figure class="snip1543">
                        <img src="{% static 'images/skills/js.jpg' %}" alt="sample100"/>
                        <figcaption>
                            <h3>
                                JavaScript
                                <br/>
                                TypeScript
                                <br/>
                                Angular
                            </h3>
                        </figcaption>
                        <a href="#"></a>
                    </figure>

                    <figure class="snip1543">
                        <img src="{% static 'images/skills/android.png' %}" alt="sample101"/>
                        <figcaption>
                            <h3>Android Studio
                                <br/>
                                kotlin
                            </h3>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                </div>
            </div>
        </section>
        <!-- SKILLS -->

        <!--===== separateur =====-->
        <div class="separateur">
        </div>

        <!-- ======= ENVIRONNEMENTS et IDE ======= -->
        <section id="services" class="services">
            <div class="container">
                <div class="section-title">
                    <h2>Mais sur quelle IDE travail-tu ?</h2>
                    <p class="cite">Comme a dit un grand homme :
                        <br>
                        <cite>"A chaque problème, il y'a une solution"</cite>
                    </p>
                </div>

                <div class="row">
                    <!-- ===== VS CODE ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/vscode.svg' %}" alt="PyCharm">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Visual studio code</h4>
                            <p class="description">Pour les projets de "site vitrine"</p>
                        </div>
                    </div>
                    <!-- ===== PyCharm ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/pycharm.svg' %}" alt="PyCharm">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">PyCharm</h4>
                            <p class="description">Pour les projets en python !</p>
                        </div>
                    </div>

                    <!-- ===== PHP STORM ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/webstorm.svg' %}" alt="">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Web Storm</h4>
                            <p class="description">Pour les projets php !</p>
                        </div>
                    </div>

                    <!-- ===== ECLIPSE ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/eclipse.svg' %}" alt="Eclipse">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Eclipse</h4>
                            <p class="description">Pour les projets java !</p>
                        </div>
                    </div>
                    <!-- ===== GITHUB ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/android-studio.svg' %}" alt="">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Android studio</h4>
                            <p class="description">Pour les projets mobiles !</p>
                        </div>
                    </div>

                    <!-- ===== Docker ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/github.svg' %}" alt="">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Github</h4>
                            <p class="description">Pour le versionning et les projets collaboratifs!</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- ENVIRONNEMENTS -->

        <!--===== separateur =====-->
        <div class="separateur">
        </div>

        <!-- ======= IDE ======= -->
        <section id="services" class="services">
            <div class="container">
                <div class="section-title">
                    <h2>Et, qu'utilise tu d'autres ?</h2>
                    <p class="cite">Comme a dit un grand homme :
                        <br>
                        <cite>"On ne plante pas un clou avec un ordi !! euh.. un truc comme ça"</cite>
                    </p>
                </div>

                <div class="row">

                    <!-- ===== codepen ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/symfony.png' %}" alt="">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Symfony</h4>
                            <p class="description">Pour les applications php !</p>
                        </div>
                    </div>

                    <!-- ===== codepen ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/tomcat.svg' %}" alt="">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Apache tomcat</h4>
                            <p class="description">Pour le serveur des projets java !</p>
                        </div>
                    </div>

                    <!-- ===== Docker ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/docker.svg' %}" alt="">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Docker / XAMP</h4>
                            <p class="description">Pour les environnements virtuels !</p>
                        </div>
                    </div>

                    <!-- ===== postgres ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/postgresql.svg' %}" alt="">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Postgresql</h4>
                            <p class="description">Pour les bases de données !</p>
                        </div>
                    </div>

                    <!-- ===== firebase ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/firebase.svg' %}" alt="">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">firebase</h4>
                            <p class="description">Pour les bases de données nosql !</p>
                        </div>
                    </div>

                    <!-- ===== Docker ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/bootstrap.svg' %}" alt="">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Bootstrap</h4>
                            <p class="description">Pour la mise en page et le responsive !</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!--===== separateur =====-->
        <div class="separateur">
        </div>

        <!-- ======= IDE ======= -->
        <section id="services" class="services">
            <div class="container">
                <div class="section-title">
                    <h2>Et pour les CRM ?</h2>
                    <p class="cite">Comme a dit un grand homme : ""</p>
                </div>

                <div class="row">

                    <!-- ===== odoo ===== -->
                    <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="{% static 'images/ide/odoo.png' %}" alt="">
                        </div>
                        <div class="icon-text">
                            <h4 class="title">Odoo</h4>
                            <p class="description">Pour les projets nécessitant un CRM !</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main><!-- End #main -->

{% endblock %}

