{% block footer %}

<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Antho-Webdesign" role="button"><i
                    class="fab fa-3x fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Antho-Webdesign" role="button"><i
                    class="fab fa-3x fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Liens de nos partenaires
            </p>
        </section>
        <!-- Section: Text -->
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase">
                        Evènements
                    </h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#" class="text-white">LGNE</a></li>
                        <li><a href="#" class="text-white">Close2me</a></li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase">
                        Tutos youtube
                    </h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="https://www.youtube.com/c/Formationvid%C3%A9o8" class="text-white">Formation
                            vidéo</a></li>
                        <li><a href="https://www.youtube.com/c/Docstring" class="text-white">Docstring</a></li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase">
                        Tuto écrits
                    </h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#" class="text-white">Link 1</a></li>
                        <li><a href="#" class="text-white">Link 2</a></li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase">
                        Promotions
                    </h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#" class="text-white">Link 1</a></li>
                        <li><a href="#" class="text-white">Link 2</a></li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="#">Antho WebDesign</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

{% endblock %}
